extends layout.pug

block content
    .card.text-center
        .card-body
            h2 WIUT Student Management System
            p Hi, welcome to WIUT LMS. We are glad to greet you. Westminster International University in Tashkent (WIUT) is the first international university located in the heart of Central Asia to offer a Western-style education with UK qualifications. WIUT offers a wide range of programmes, all in English, academic and research activities, as well as social events. Independent learning is an essential part of the UK education system, and WIUT is no exception. WIUT students can often be found in the Learning Resource Centre (LRC), computer rooms and innovation labs, working on projects and discussing course content with their peers. Other times, students may be found making the most of the University’s exceptional sports facilities or engaging in the many social and cultural events organized by the Students’ Union. 
    
    .row.mt-5
        .card.text-center.col-md-12
            .card-body 
                h4 Students 
                p See the list of all students 
                a.btn.btn-primary(href="/students") See &#8594;
    