extends ../layout.pug

block content
    - var model = model
    nav(aria-label='breadcrumb')
        ol.breadcrumb
            li.breadcrumb-item
                a(href='/') Home
            li.breadcrumb-item
                a(href='/students') Students
            li.breadcrumb-item.active(aria-current='page')= model.first_name + ' ' + model.last_name
        
    h2= `Update: ${model.first_name} ${model.last_name}` 

    form.my-3#studentForm(action=`/student/edit/${model.id}`, method="POST")
        - 
            var courses = [
                {id: 1, nameShort: "BM"},
                {id: 2, nameShort: "BIS"},
                {id: 3, nameShort: "Fin"},
                {id: 4, nameShort: "EcoFin"},
                {id: 5, nameShort: "CL"},
            ];
        include _form.pug