footer.mt-auto.py-3.border-top(style="background-color: #e3f2fd;")
    .container.d-flex.justify-content-between
        p.text-center.text-muted &copy; 00011763 | CW2 WebTech (2022)
        p.text-center.text-muted(style="font-size: 11px;") This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service
